.detail-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
    margin: 2rem;
    background-color: green;
}

.detail-subcontainer{
    background-color: red;
}

.detail-title{
    font-size: 30px;
    margin-top: 0;
}
  
.title-info{
    font-weight: bold;
}

.info-peq{
    font-size: 14px;
}
