.detail-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
    margin: 2rem;
    padding: 2rem;
    background-color: red;
}

.detail-container > .films-card {
    color: white;
    border-radius: 5px;
    position: relative;
    height: 15rem;
  }
  
  .films-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  
  .films-card :hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
  
  .films-card h2 {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 1rem;
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px black;
  }
  
  .films-card h3 {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 1rem;
    font-size: 15px;
    color: white;
    text-shadow: 1px 1px black;
  }

  .title-info{
    font-weight: bold;
  }