/* General */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Imagen de fondo estática */

html{
  background: url("../../public/images/home-background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body, html {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;

}

.app {
  text-align: center;
  max-width: 60rem;
  margin: 0 auto;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}
