# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# api
# client/.env
# server/.env

# dependencies
client/node_modules
server/node_modules
server/.pnp
server/.pnp.js

# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*
client/dist
client/dist-ssr
client/*.local

# Editor directories and files
client/.vscode/*
client/!.vscode/extensions.json
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?

# testing
server//coverage

# production
server//build

# misc
server/.DS_Store
server/.env.local
server/.env.development.local
server/.env.test.local
server/.env.production.local
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*